{% extends "dashboard/gabarit.html" %}
{% load static thumbnail i18n widget_tweaks countries %}
{% block content  %}
<div class="container-xxl flex-grow-1 container-p-y">

    <div class="row g-4 mb-4">
        <div class="col-sm-6 col-xl-3">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex align-items-start justify-content-between">
                        <div class="content-left">
                        <span>Tous les blogs</span>
                        <div class="d-flex align-items-end mt-2">
                            <h4 class="mb-0 me-2">{{ countblog }}</h4>
                        </div>
                        <small>Total</small>
                        </div>
                        <span class="badge bg-label-primary rounded p-2">
                        <i class="bx bx-news bx-sm"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex align-items-start justify-content-between">
                        <div class="content-left">
                        <span>Blogs Approuvées</span>
                        <div class="d-flex align-items-end mt-2">
                            <h4 class="mb-0 me-2">{{ countapprouvedblog }}</h4>
                        </div>
                        <small>Total </small>
                        </div>
                        <span class="badge bg-label-danger rounded p-2">
                        <i class="bx bx-check bx-sm"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex align-items-start justify-content-between">
                        <div class="content-left">
                        <span>Blog En attente de Validation</span>
                        <div class="d-flex align-items-end mt-2">
                            <h4 class="mb-0 me-2">{{ countapprouvedpendingblog }}</h4>
                        </div>
                        <small>Total</small>
                        </div>
                        <span class="badge bg-label-success rounded p-2">
                        <i class="bx bx-cloud-snow bx-sm"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="card">
                <div class="card-body">
                <div class="d-flex align-items-start justify-content-between">
                    <div class="content-left">
                    <span>Commentaires</span>
                    <div class="d-flex align-items-end mt-2">
                        <h4 class="mb-0 me-2">{{ countcomment }}</h4>
                    </div>
                    <small>Total</small>
                    </div>
                    <span class="badge bg-label-warning rounded p-2">
                    <i class="bx bx-comment bx-sm"></i>
                    </span>
                </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex align-items-start justify-content-between">
                        <div class="content-left">
                        <span>Likes</span>
                        <div class="d-flex align-items-end mt-2">
                            <h4 class="mb-0 me-2">{{ countlike }}</h4>
                        </div>
                        <small>Total</small>
                        </div>
                        <span class="badge bg-label-warning rounded p-2">
                        <i class="bx bx-like bx-sm"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Blog List Table -->
    <div class="card">
        <div class="card-header border-bottom row">
            <h5 class="card-title col-lg-8">Liste des Blogs</h5>
            <div class="col-lg-2 searchpage">
                <input class="form-control" id="searchblog" type="text" placeholder="Recherche..">
            </div>
            <div class="plusbtn col-lg-2" id="addblog"><i class="fa fa-plus-circle"></i></div>
        </div> 
        
        <!-- Main content -->
        <div class="card-body">
            <table id="filterblog" class="table shadow-card">
                <thead>
                    <tr>
                        <th>Images</th>
                        <th>Titres</th>
                        <th>Label</th>
                        <th>Desvription</th>
                        <th>Validation</th>
                        <th>Status</th>
                        <th>Plus ></th>
                    </tr>
                </thead>    
                <tbody>
                    {% if allblog %}
                        {% for item in allblog %}
                            <tr>
                                <td>
                                    {% thumbnail item.cover '200x200' as im %}
                                    <img src="{{ im.url }}" class='img-circle elevation-2'/>
                                </td>
                                <td>{{item.title}}</td>
                                <td>{{item.label}}</td>
                                <td>{{item.description|striptags}}</td>
                                <td>
                                    {% if item.is_approuved == True %}
                                        <div class="activelistitem">Approuver</div>
                                    {% else %}
                                        <div class="activelistitem">Non Approuver</div>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if item.is_active == True %}
                                        <div class="activelistitem">Actif</div>
                                    {% else %}
                                        <div class="activelistitem">Inactif</div>
                                    {% endif %}
                                </td>
                                <td>
                                    <div class="dropdown optionblock">
                                        <button class="btn dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown"><p>Options</p></button>
                                        <div class="dropdown-menu"> 
                                            <a class="dropdown-item dropitem validationForm" href="JavaScript:void()" 
                                                data-url="{% url 'dashboard:blog-validate'%}" 
                                                data-id="{{item.id}}"
                                                data-token="{{csrf_token}}"
                                                data-message="{% if item.is_approuved %}Ce Blog ne sera plus visible!{% else %}Ce Blog sera desormais visible!{% endif %}"
                                                data-type="warning">
                                                <i class="fas fa-shield"></i> 
                                                {% if item.is_approuved %}Deapprouver ce Blog{% else %}Approuver ce Blog{% endif %}
                                            </a> 
                                            
                                            <a class="dropdown-item dropitem statusForm" href="JavaScript:void()" 
                                                data-url="{% url 'dashboard:blog-status'%}" 
                                                data-id="{{item.id}}"
                                                data-token="{{csrf_token}}" 
                                                data-message="{% if item.is_active %}Ce Blog sera desormais Inactive!{% else %}Ce Blog sera desormais Active!{% endif %}"
                                                data-type="warning"
                                                >
                                                <i class="fas fa-ban"></i> 
                                                {% if item.is_active %}Bloquer ce Blog{% else %}Activer ce Blog{% endif %}
                                            </a>  

                                            <a class="dropdown-item dropitem updateblog" href="Javascript:void()"
                                                data-id="{{item.id}}"
                                                data-title="{{item.title}}" 
                                                data-label="{{item.label}}" 
                                                data-description="{{item.description|striptags}}" 
                                                data-cover="{{item.cover.url}}"  
                                            >
                                            <i class="fas fa-edit"></i> Modifier ce Blog</a>

                                            <a class="dropdown-item dropitem deleteSubmit" href="JavaScript:void()" 
                                                data-url="{% url 'dashboard:blog-delete'%}" 
                                                data-id="{{item.id}}"
                                                data-type="warning"
                                                data-message="Attention cette opération est ireversible, cliquez sur oui pour continuer."
                                                data-token="{{csrf_token}}">
                                                <i class="fas fa-trash"></i> Supprimer ce Blog</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr >
                            <td colspan="7" class="text-primary text-center" >
                                <p class="emptylist">Aucun Blog n'a été enregistré!</p>
                            </td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
        <!-- /.content --> 
    </div>

    <!--Modal de creation des blogs -->
    <div class="modal fade"  id="blogCreation" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <img src="{% static 'backend/img/logo.png' %}" alt="Logo" class="logomodal">
                    <h4 class="modal-title">Nouveau Blog</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>  
                <!-- Modal body -->
                <form class="createSubmit" method="post" enctype="multipart/form-data" onsubmit="postSubmission(this)"  action="{% url 'dashboard:blog-creation' %}">
                    {% csrf_token %}
                    <input type='hidden'  name='creator' value="{{request.user.id}}" />
                    <div class="modal-body">

                        <div class="row blockformitem">
                            <div class="col-lg-12 col-md-12 col-xs-12">
                                <p>{% trans  'Titre du Blog' %}</p>
                                <div class="form-group label-floating">
                                    <input class="form-control"  name="title" required placeholder="Titre... " />
                                    <hr>
                                </div>
                            </div>
                        </div>

                        <div class="row blockformitem">
                            <div class="col-lg-12 col-md-12 col-xs-12">
                                <p>{% trans  'Label du Blog' %}</p>
                                <div class="form-group label-floating">
                                    <input class="form-control"  name="label" required placeholder="Label... " />
                                    <hr>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-xs-12" >
                                <p  class="titleform">Description</p>
                                <div class="form-group label-floating">
                                    <div class="editor" style="height:20vh"></div>
                                    <input class="form-control post-content" name="description" type="hidden"/>
                                    <hr>
                                </div>
                            </div>
                        </div>

                        <div class="row blockformitem">
                            <div class="col-lg-12 col-md-12 col-xs-12">
                                <p>{% trans  'Image du Blog' %}</p>
                                <div class="gallerycover"></div>
                                <div class="form-group label-floating">
                                    <input type="file" class="form-control add-image"  name="cover"  required />
                                    <hr>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="reset" data-bs-dismiss="modal" aria-label="Close" class="btn btn-bg-secondary">{% trans 'Annuler' %}</button>
                        <button type="submit" id="buttomcreate" class="btn newBtn createbtn">{%  trans 'Sauvegarder' %}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

     <!--Modal de mise à jour des blog -->
     <div class="modal fade"  id="blogUpdate" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <img src="{% static 'backend/img/logo.png' %}" alt="Logo" class="logomodal">
                    <h4 class="modal-title">Mise à jour du Blog</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>  
                <!-- Modal body -->
                <form class="updateSubmit" method="post" enctype="multipart/form-data" onsubmit="postSubmissionUpdate(this)"  action="{% url 'dashboard:blog-update' %}">
                    {% csrf_token %}
                    <input type='hidden'  name='id' id="blogid" />
                    <div class="modal-body">

                        <div class="row blockformitem">
                            <div class="col-lg-12 col-md-12 col-xs-12">
                                <p>{% trans  'Titre du Blog' %}</p>
                                <div class="form-group label-floating">
                                    <input class="form-control"  name="title" id="blogtitle" placeholder="Titre... " />
                                    <hr>
                                </div>
                            </div>
                        </div>

                        <div class="row blockformitem">
                            <div class="col-lg-12 col-md-12 col-xs-12">
                                <p>{% trans  'Label du Blog' %}</p>
                                <div class="form-group label-floating">
                                    <input class="form-control"  name="label" id="bloglabel" placeholder="Label... " />
                                    <hr>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-xs-12" >
                                <p  class="titleform">Description</p>
                                <div class="form-group label-floating">
                                    <div class="editorupdate" style="height:20vh"></div>
                                    <input class="form-control post-content-update" name="description" type="hidden"/>
                                    <hr>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12 col-md-12 col-xs-12">
                            <p>Image du Blog</p>
                            <img class="imagetoupdate" id="blogcover" />
                        </div><br>

                        <div class="col-lg-12 col-md-12 col-xs-12" >
                            <p>{% trans  'Nouvelle Image' %}</p>
                            <div class="gallerycoverupdate"></div>
                            <div class="form-group label-floating" style="width: 100%;" >
                                <input type="file" class="form-control" id="blogcover" accept="image/*" name="cover"  />
                            </div>
                        </div>

                    </div>
                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="reset" data-bs-dismiss="modal" aria-label="Close" class="btn btn-bg-secondary">{% trans 'Annuler' %}</button>
                        <button type="submit" class="btn newBtn updatebtn">{%  trans 'Sauvegarder' %}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
</div>
{% endblock content  %}