{% extends "dashboard/gabarit.html" %}
{% load static thumbnail i18n widget_tweaks countries %}
{% block content  %}
<div class="container-xxl flex-grow-1 container-p-y">

    <!-- devises List Table -->
    <div class="card">
        <div class="card-header border-bottom row">
            <h5 class="card-title col-lg-7">Listes des Profils Utilisateurs</h5>
            <div class="col-lg-4 searchpage">
                <input class="form-control" id="searchbank" type="text" placeholder="Recherche..">
            </div>
            <button class="col-lg-1 btnnew" data-bs-toggle="modal" data-bs-target="#createUserProfilModal">
                <i class="fa fa-plus-circle"></i> 
            </button>
        </div> 
        
        <!-- Main content -->
        <div class="card-body">
        <table id="filterprofil" class="table shadow-card">
            <thead>
                <tr>
                    <th>Utilisateur</th>
                    <th>Profil</th>
                    <th>Description</th>
                    <th>Status</th>
                    <th>Plus ></th>
                </tr>
            </thead>    
            <tbody>
                {% if alluserprofil %}
                    {% for item in alluserprofil %}
                        <tr>
                            <td>{{item.person}}</td>
                            <td>{{item.profil}}</td>
                            <td>{{item.description|safe}}</td>
                            <td>
                                {% if item.is_active == True %}
                                    <div class="activelistitem">Actif</div>
                                {% else %}
                                    <div class="activelistitem">Inactif</div>
                                {% endif %}
                            </td>
                            <td>
                                <div class="dropdown optionblock">
                                    <button class="btn dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown"><p>Options</p></button>
                                    <div class="dropdown-menu"> 
                                        <a class="dropdown-item dropitem statusForm" href="JavaScript:void()" 
                                            data-url="{% url 'dashboard:status-user-profil'%}" 
                                            data-id="{{item.id}}"
                                            data-token="{{csrf_token}}" 
                                            data-message="{% if item.is_active %}Cette Autorisation sera desormais Inactive!{% else %}Cette Autorisation sera desormais Active!{% endif %}"
                                            data-type="warning"
                                            >
                                            <i class="fas fa-ban"></i> 
                                            {% if item.is_active %}Bloquer cette Autorisation{% else %}Activer cette Autorisation{% endif %}
                                        </a> 

                                        <a class="dropdown-item dropitem" href="Javascript:void()"
                                            data-id="{{item.id}}"
                                            data-person="{{item.person}}" 
                                            data-personid="{{item.personid}}" 
                                            data-profil="{{item.profil}}" 
                                            data-profilid="{{item.profilid}}" 
                                            data-description="{{item.description|striptags}}" 
                                            data-bs-toggle="modal" data-bs-target="#updateUserProfilModal"
                                        >
                                        <i class="fas fa-edit"></i> Modifier</a>

                                        <a class="dropdown-item dropitem deleteSubmit" href="JavaScript:void()" 
                                            data-url="{% url 'dashboard:delete-user-profil'%}" 
                                            data-id="{{item.id}}"
                                            data-type="warning"
                                            data-message="Attention cette opération est irréversible, cliquez sur oui pour continuer."
                                            data-token="{{csrf_token}}">
                                            <i class="fas fa-trash"></i> Supprimer</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr >
                        <td colspan="7" class="text-primary text-center" >
                            <p class="emptylist">Aucune Autorisation n'a été enregistré!</p>
                        </td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
        </div>
        <!-- /.content --> 

    </div>

    <!--Modal de creation -->
    <div class="modal fade"  id="createUserProfilModal" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <img src="{% static 'backend/img/logo.png' %}" alt="Logo" class="logomodal">
                    <h4 class="modal-title">Nouvelle Autorisation</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>  
                <!-- Modal body -->
                <form class="createSubmit" method="post" enctype="multipart/form-data" onsubmit="postSubmission(this)"   action="{% url 'dashboard:create-user-profil' %}">
                    {% csrf_token %}
                    <input type='hidden'  name='create_by' value="{{request.user.id}}" />
                    <div class="modal-body">
                        <div class="row blockformitem">
                            <div class="col-lg-12 col-md-12 col-xs-12">
                                <p>{% trans  'Utilisateur Concerné' %}</p>
                                <select name="person" class="form-group label-floating selectinputform">
                                    <option>Selectionner l'Utilisateur</option>
                                    {% for item in allperson %}
                                        <option value="{{ item.id }}">{{ item.user.first_name }} {{ item.user.last_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="row blockformitem">
                            <div class="col-lg-12 col-md-12 col-xs-12">
                                <p>{% trans  'Attribuer un Profil' %}</p>
                                <select name="profil" class="form-group label-floating selectinputform">
                                    <option>Selectionner le Profil</option>
                                    {% for item in allprofil %}
                                        <option value="{{ item.id }}">{{ item.title }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-xs-12" >
                                <p  class="titleform">Description</p>
                                <div class="form-group label-floating">
                                    <div class="editor" style="height:20vh"></div>
                                    <input class="form-control post-content" name="description" type="hidden"/>
                                    <hr>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="reset"  class="btn btn-bg-secondary" data-bs-dismiss="modal" aria-label="Close">{% trans 'Annuler' %}</button>
                        <button type="submit" id="buttomcreate" class="btn newBtn createbtn">{%  trans 'Sauvegarder' %}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!--Modal de mise à jour -->
    <div class="modal fade"  id="updateUserProfilModal" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <img src="{% static 'backend/img/logo.png' %}" alt="Logo" class="logomodal">
                    <h4 class="modal-title">Mise à jour des informations</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>  
                <!-- Modal body -->
                <form class="updateSubmit" method="post" enctype="multipart/form-data"  action="{% url 'dashboard:update-user-profil' %}">
                    {% csrf_token %}
                    <input type='hidden'  name='id' id="userprofilid" />
                    <div class="modal-body">
                        <div class="row blockformitem">
                            <div class="col-lg-12 col-md-12 col-xs-12">
                                <p>{% trans  'Utilisateur Concerné' %}</p>
                                <select name="person" class="form-group label-floating selectinputform" id="userprofilperson" >
                                    <option>Selectionner l'Utilisateur</option>
                                    {% for item in allperson %}
                                        <option value="{{ item.id }}">{{ item.user.first_name }} {{ item.user.last_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="row blockformitem">
                            <div class="col-lg-12 col-md-12 col-xs-12">
                                <p>{% trans  'Attribuer un Profil' %}</p>
                                <select name="profil" class="form-group label-floating selectinputform" id="userprofilprofil">
                                    <option>Selectionner le Profil</option>
                                    {% for item in allprofil %}
                                        <option value="{{ item.id }}">{{ item.title }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-xs-12" >
                                <p  class="titleform">Description</p>
                                <div class="form-group label-floating">
                                    <div class="editorupdate" style="height:20vh"></div>
                                    <input class="form-control post-content-update" name="description" type="hidden"/>
                                    <hr>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="reset"  class="btn btn-bg-secondary" data-bs-dismiss="modal" aria-label="Close">{% trans 'Annuler' %}</button>
                        <button type="submit" class="btn newBtn updatebtn">{%  trans 'Sauvegarder' %}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
</div>
{% endblock content  %}