{% extends "dashboard/gabarit.html" %}
{% load static thumbnail i18n widget_tweaks countries %}
{% block content  %}
<div class="container-xxl flex-grow-1 container-p-y">

    <!-- sizes List Table -->
    <div class="card">
        <div class="card-header border-bottom row">
            <a class="homebtn col-lg-1" href="{% url 'dashboard:home-attribute'%}">
                <i class="fa fa-chevron-circle-left"></i>
            </a>
            <h5 class="card-title col-lg-6">Liste des tailles</h5>
            <div class="col-lg-3 searchpage">
                <input class="form-control" id="searchsize" type="text" placeholder="Recherche..">
            </div>
            <div class="plusbtn col-lg-2" id="addsize"><i class="fa fa-plus-circle"></i></div>
        </div> 
        
        <!-- Main content -->
        <div class="card-body">
        <table id="filtersize" class="table shadow-card">
            <thead>
                <tr>
                    <th>Valeurs</th>
                    <th>Créer par</th>
                    <th>Status</th>
                    <th>Plus ></th>
                </tr>
            </thead>    
            <tbody>
                {% if allsize %}
                    {% for size in allsize %}
                        <tr>
                            <td>{{size.name}}</td>
                            <td>{{size.author}}</td>
                            <td>
                                {% if size.is_active == True %}
                                    <div class="activelistitem">Actif</div>
                                {% else %}
                                    <div class="activelistitem">Inactif</div>
                                {% endif %}
                            </td>
                            <td>
                                <div class="dropdown optionblock">
                                    <button class="btn dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown"><p>Options</p></button>
                                    <div class="dropdown-menu"> 
                                        <a class="dropdown-item dropitem validatesize" href="JavaScript:void()" 
                                            data-url="{% url 'dashboard:status-size'%}" 
                                            data-id="{{size.id}}"
                                            data-token="{{csrf_token}}" 
                                            onclick="sizeStatus(this)">
                                        <i class="fas fa-ban"></i> Activer/Deactiver</a> 

                                        <a class="dropdown-item dropitem updatesize" href="Javascript:void()"
                                            data-id="{{size.id}}"
                                            data-name="{{size.name}}" 
                                        >
                                        <i class="fas fa-edit"></i> Modifier</a>

                                        <a class="dropdown-item dropitem deleteSubmit" href="JavaScript:void()" 
                                            data-url="{% url 'dashboard:delete-size'%}" 
                                            data-id="{{size.id}}"
                                            data-token="{{csrf_token}}">
                                            <i class="fas fa-trash"></i> Supprimer</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr >
                        <td colspan="7" class="text-primary text-center" >
                            <p class="emptylist">Aucune taille n'a été enregistré!</p>
                        </td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
        </div>
        <!-- /.content --> 

    </div>

    <!--Modal de creation des sizes -->
    <div class="modal fade"  id="sizeCreation" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <img src="{% static 'backend/img/logomini.png' %}" alt="Logo" class="logomodal">
                    <h4 class="modal-title">Nouvelle Taille</h4>
                    <button type="button" class="close closeaddsize" data-dismiss="modal">&times;</button>
                </div>  
                <!-- Modal body -->
                <form class="createSubmit" method="post" enctype="multipart/form-data"  action="{% url 'dashboard:create-size' %}">
                    {% csrf_token %}
                    <input type='hidden'  name='creator' value="{{request.user}}" />
                    <div class="modal-body">

                        <div class="row blockformitem">
                            <div class="col-lg-12 col-md-12 col-xs-12">
                                <p>{% trans  'Valeur de la taille' %}</p>
                                <div class="form-group label-floating">
                                    <input class="form-control"  name="name" required placeholder="taille... " />
                                    <hr>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="reset"  class="btn btn-bg-secondary closeaddsize">{% trans 'Annuler' %}</button>
                        <button type="submit" id="buttomcreate" class="btn newBtn createbtn">{%  trans 'Sauvegarder' %}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

     <!--Modal de mise à jour des sizes -->
     <div class="modal fade"  id="sizeUpdate" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <img src="{% static 'backend/img/logomini.png' %}" alt="Logo" class="logomodal">
                    <h4 class="modal-title">Mise à jour de la Taille</h4>
                    <button type="button" class="close closeupdatesize" data-dismiss="modal">&times;</button>
                </div>  
                <!-- Modal body -->
                <form class="createSubmit" method="post" enctype="multipart/form-data"  action="{% url 'dashboard:update-size' %}">
                    {% csrf_token %}
                    <input type='hidden'  name='id' id="sizeid" />
                    <div class="modal-body">

                        <div class="row blockformitem">
                            <div class="col-lg-12 col-md-12 col-xs-12">
                                <p>{% trans  'Valeur de la taille' %}</p>
                                <div class="form-group label-floating">
                                    <input class="form-control" id="sizenameid"  name="name" placeholder="taille... " />
                                    <hr>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="reset"  class="btn btn-bg-secondary closeupdatesize">{% trans 'Annuler' %}</button>
                        <button type="submit" class="btn newBtn updatebtn">{%  trans 'Sauvegarder' %}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
</div>
{% endblock content  %}